/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin{
    margin: 1% 0;
}
.border{
    border-radius: 10px;
}

body{
    margin: 1% 10%;
    
}
.overlay{
    background-color: rgba(0,0,0,0.2) ;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* General */
/* Macro sections */
.first-container{
    height: 500px;
    background-image: url('.././img/banner.jpg') ;
    background-position: center;
    position: relative;
}
.second-container{
    padding: 20px 0;
}
.third-container{
    height: 500px;
}
footer{
    height: 100px;
}
/* Macro sections */

.logo{
    height: 90%;
}

.menu{
    height: 40%;
}

.logo img{
    height: 70px;
}

.menu li{
    display:inline-block;
    padding: 0 10px;
    list-style:none;
}


.menu li a{
    text-decoration: none;
}

.menu ul{
    padding:30px;
}







.testo-1{
    position: absolute;
    color: white;
    bottom: 10%;
    left: 5%;
    width: 50%;
}



.second-container h2{
    font-size: 2em;
}


.third-container::after{
    content: "";
    display: table;
    clear: both;
}

.box1{
    height: 450px;
    width: 24%;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    

}
.bg-1{
    background-image: url('../img/img-1.jpg');
    background-position: center;
    background-size:cover;
    height: 50%;
    width: 100%;
    position: relative;
    
}
.box2{
    height: 450px;
    width: 48%;
    float: left;
    margin-left: 2%;
    margin-top: 25px;
    margin-bottom: 25px;
    
    
}
.bg-2{
    background-image: url('../img/banner-2.jpg');
    background-position: center;
    background-size:cover;
    height: 50%;
    width: 100%;
    position: relative;
}
.box3{
    height: 450px;
    width: 24%;
    float: left;
    margin-left: 2%;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.bg-3{
    background-image: url('../img/img-3.jpg');
    background-position: center;
    background-size:cover;
    height: 50%;
    width: 100%;
    position: relative;
}



h3{
    padding: 20px 0;
}
span{
    color: red;
    
}
footer p{
    text-align: center;
    padding: 30px 0;
}
